#This file contains all the buildingblocks/Items that have equivalent items/blocks some including items with metadata.
#Anything in the same list will be treated the same for dwarfcraft purposes
#
#Examples:
#Log: 17,162
#Wool: 35
#Wood Stairs: 134, 135, 136, 163, 164

Wood: WOOD
Saplings: SAPLING
Double Stone Slab: DOUBLE_STEP
Stone Slab: STEP
Double Wood Slab: WOOD_DOUBLE_STEP
Wood Slab: WOOD_STEP
Stained Glass: STAINED_GLASS
Stained Glass Pane: STAINED_GLASS_PANE
Logs: LOG, LOG_2
Leaves: LEAVES, LEAVES_2
Wood Stairs: WOOD_STAIRS, SPRUCE_WOOD_STAIRS, BIRCH_WOOD_STAIRS, JUNGLE_WOOD_STAIRS, ACACIA_STAIRS, DARK_OAK_STAIRS
Fence Gate: FENCE_GATE, SPRUCE_FENCE_GATE, BIRCH_FENCE_GATE, JUNGLE_FENCE_GATE, DARK_OAK_FENCE_GATE, ACACIA_FENCE_GATE
Fence: FENCE, SPRUCE_FENCE, BIRCH_FENCE, JUNGLE_FENCE, DARK_OAK_FENCE, ACACIA_FENCE
Wool: WOOL
Carpet: CARPET
Redstone Ore: REDSTONE_ORE, GLOWING_REDSTONE_ORE
Redstone Torch: REDSTONE_TORCH_OFF, REDSTONE_TORCH_ON
Redstone Repeater: DIODE_BLOCK_OFF, DIODE_BLOCK_ON
Redstone Lamp: REDSTONE_LAMP_OFF, REDSTONE_LAMP_ON
Redstone Comparator: REDSTONE_COMPARATOR_OFF, REDSTONE_COMPARATOR_ON
Furnace: FURNACE, BURNING_FURNACE
Wood Door Block: WOODEN_DOOR, SPRUCE_DOOR, JUNGLE_DOOR, BIRCH_DOOR, ACACIA_DOOR, DARK_OAK_DOOR
Wood Door: WOOD_DOOR, SPRUCE_DOOR_ITEM, BIRCH_DOOR_ITEM, JUNGLE_DOOR_ITEM, ACACIA_DOOR_ITEM, DARK_OAK_DOOR_ITEM
Fish: RAW_FISH
Glazed Terracotta Blocks: WHITE_GLAZED_TERRACOTTA, ORANGE_GLAZED_TERRACOTTA, MAGENTA_GLAZED_TERRACOTTA, LIGHT_BLUE_GLAZED_TERRACOTTA, YELLOW_GLAZED_TERRACOTTA, LIME_GLAZED_TERRACOTTA, PINK_GLAZED_TERRACOTTA, GRAY_GLAZED_TERRACOTTA, SILVER_GLAZED_TERRACOTTA, CYAN_GLAZED_TERRACOTTA, PURPLE_GLAZED_TERRACOTTA, BLUE_GLAZED_TERRACOTTA, BROWN_GLAZED_TERRACOTTA, GREEN_GLAZED_TERRACOTTA, RED_GLAZED_TERRACOTTA, BLACK_GLAZED_TERRACOTTA
Concrete: CONCRETE
Hardened Clay: HARD_CLAY
Shulkur Box: WHITE_GLAZED_SHULKER_BOX, ORANGE_GLAZED_SHULKER_BOX, MAGENTA_GLAZED_SHULKER_BOX, LIGHT_BLUE_GLAZED_SHULKER_BOX, YELLOW_GLAZED_SHULKER_BOX, LIME_GLAZED_SHULKER_BOX, PINK_GLAZED_SHULKER_BOX, GRAY_GLAZED_SHULKER_BOX, SILVER_GLAZED_SHULKER_BOX, CYAN_GLAZED_SHULKER_BOX, PURPLE_GLAZED_SHULKER_BOX, BLUE_GLAZED_SHULKER_BOX, BROWN_GLAZED_SHULKER_BOX, GREEN_GLAZED_SHULKER_BOX, RED_GLAZED_SHULKER_BOX, BLACK_GLAZED_SHULKER_BOX