#This file holds custom messages for your server. Using the ':' colon character in your message will break things
#Blank or missing settings will use the plugin default message
#You can use &0 thru &f for standard color codes. You can use /n for a newline 
#Use &p for primary race and &s for secondary (Check DwarfCraft.config for race names)
#Use &q for primary race plural and &t for secondary race Plural

#Put something here. Called when users /dcrules
Server Rules:
Server Rules prefix:&6[&dRules&6] 

#The message every player sees when welcome message is enabled
Welcome prefix:&6[DC]         
Welcome:&fWelcome, &9%playerrace% &6%playername%

#The parts of the message that are returned when users /tutorial
Tutorial prefix:&6[&dDC&6] &f

#The parts of the message that are returned when users /skillsheet
SkillSheet prefix:&6[&dSS&6] 
SkillSheet header:&6Skill Sheet for &9%playername% &6[&9%playerrace% &6- &6Lvl &3%playerlevel%&6]
SkillSheet skill line:&6[&3%skilllevel%&6] &b%skillname%
SkillSheet untrained skill header:&6Untrained Skills%colon%
SkillSheet untrained skill line:|&7%skillname%&6| 

#The parts of the message that are returned when users /skillinfo
SkillInfo header:&6  Skillinfo for &b%playername%&6 [&b%skillid%&6] || Your level &3%skilllevel%/%maxskilllevel%
SkillInfo minor header:&6[&5EffectID&6]&f------&6[Effect]&f------
SkillInfo EffectID Prefix:&6[&5%effectid%&6] 
SkillInfo max skill level:&6---This skill is maximum level, no training available---
SkillInfo at trainer level:&6---You're as skilled as me, you need a more advanced trainer!--
SkillInfo train cost header:&6---Train costs for level &3%nextskilllevel%
SkillInfo train cost: &6--  &2%depositedamount% of %totalcost% %itemtype%&6  --

#The parts of the message that are returned when users /effectinfo
EffectInfo prefix:&6[&5%effectid%&6] 

#Various race related messages
Race check:You are a %playerrace%
Admin race check:%playername% is a %playerrace%
Already race:You are already a %playerrace%
Reset race:You are once again a fresh new %racename%
Changed race:You are now a %racename%
Confirm race:You need to confirm this command with confirm at the end. (Note: This will reset all your skills)
Race does not exist:The race %racename% doesn't exist

#Various trainer messages
Choose a race:&cPlease choose a race!
Train skill prefix:&6[Train &b%skillid%&6] 
Race does not contain skill:&cYour race doesn't have this skill!
Race does not specialize:&cYour race doesn't specialize in this skill! Max level is (%racelevellimit%)!
Max skill level:&cYour skill is max level (%maxskilllevel%)!
Trainer max level:&cI can't teach you any more, find a higher level trainer
Trainer level too high:&cI can't teach a low level like you, find a lower level trainer
No more item needed:&aNo more &2%itemname% &ais needed
More item needed:&cAn additional &2%costamount% %itemname% &cis required
Training successful:&6Training Successful!
Trainer occupied:&6Please wait, Currently training a skill.
Trainer cooldown:&6Sorry, i need time to recuperate.

#Various effect messages
Describe general:Effect Block Trigger: %initiator% Block Output: %output%. Effect value ranges from %.2%effectamountlow% - %.2%effectamounthigh% for levels 0 to 30. Non specialists have the effect %.2%minoramount% , as if they were level %normallevel%. Tools affected: %tooltype%.
Describe level blockdrop:&6Break a &2%initiator% &6and %effectlevelcolor%%effectamount% &2%output%&6 are created
Describe level mobdrop:&6%creaturename% drop about %effectlevelcolor%%effectamount% &2%output%
Describe level mobdrop no creature:&6Enemies that drop &2%output% &6leave about %effectlevelcolor%%effectamount%&6
Describe level sword durability:&6Using &2%tooltype% &6removes about %effectlevelcolor%%effectamount% &6durability
Describe level pvp damage:&6You do %effectlevelcolor%%effectdamage%&6%% &6of normal &2%tooltype% &6damage when fighting players
Describe level pve damage:&6You do %effectlevelcolor%%effectdamage%&6%% &6of normal &2%tooltype% &6damage when fighting mobs
Describe level explosion damage more:&6You take %effectlevelcolor%%effecttakedamage%%% more &6damage from explosions
Describe level explosion damage less:&6You take %effectlevelcolor%%effecttakedamage%%% less &6damage from explosions
Describe level fire damage more:&6You take %effectlevelcolor%%effecttakedamage%%% more &6damage from fire
Describe level fire damage less:&6You take %effectlevelcolor%%effecttakedamage%%% less &6damage from fire
Describe level falling damage more:&6You take %effectlevelcolor%%effecttakedamage%%% more &6damage from falling
Describe level falling damage less:&6You take %effectlevelcolor%%effecttakedamage%%% less &6damage from falling
Describe level fall threshold:&6Fall damage less than %effectlevelcolor%%effectamountint% &6does not affect you.
Describe level plow durability:&6Using &2%tooltype% &6removes about %effectlevelcolor%%effectamount% &6durability
Describe level tool durability:&6Using &2%tooltype% &6removes about %effectlevelcolor%%effectamount% &6durability
Describe level rod durability:&6Using &2%tooltype% &6removes about %effectlevelcolor%%effectamount% &6durability
Describe level eat:&6You gain %effectlevelcolor%%effectamountfood% &6Hunger instead of &e%originalfoodlevel%&6 when you eat &2%initiator%
Describe level craft:&6You craft %effectlevelcolor%%effectamount% &2%%output% &6instead of &e%minoramount%
Describe level plow:&6You gain %effectlevelcolor%%effectamount% &6seeds instead of &e%minoramount% &6when you plow grass
Describe level fish:&6You catch %effectlevelcolor%%effectamount% &6fish instead of &e%minoramount% &6when you fish
Describe level brew:&6You brew %effectlevelcolor%%effectamount% &6potion(s) instead of &e%minoramount% &6when you're brewing potions
Describe level dig time:&a%effectamountdig%%%&6 of the time &2%tooltype% &6break &2%initiator% &6instantly 
Describe level bow attack:&6Your Arrows (Fully Charge Bow) do %effectlevelcolor%%effectbowdamage% &6hp damage (half hearts)
Describe level vehicle drop:&6When you break a boat &6approx. %effectlevelcolor%%%effectamount% &2%output%&6 are created
Describe level vehicle move:&6Your boat travels %effectlevelcolor%%effecttakedamage%%% &6faster than normal
Describe level smelt:&6Smelt a &2%initiator% &6and %effectlevelcolor%%effectamount% &2%output%&6 are created as well
Describe level shear:&6Shear a %creaturename% and %effectlevelcolor%%effectamount% &6%output% are dropped instead of &e%minoramount%
Effect level color greater than normal:&a
Effect level color equal to normal:&e
Effect level color less than normal:&c