#This file holds custom messages for your server. Using the ':' colon character in your message will break things
#Blank or missing settings will use the plugin default message
#You can use &0 thru &f for standard color codes. You can use /n for a newline 
#Use &p for primary race and &s for secondary (Check DwarfCraft.config for race names)
#Use &q for primary race plural and &t for secondary race Plural

#Put something here. Called when users /dc info
General Info:
General Info prefix:&6[&d?&6] 

#Put something here. Called when users /dc rules
Server Rules:
Server Rules prefix:&6[&dRules&6] 

#The parts of the message that are returned when users /tutorial
Tutorial prefix:&6[&dDC&6] &f

#The parts of the message that are returned when users /skillsheet
SkillSheet prefix:&6[&dSS&6] 
SkillSheet header:&6Skill Sheet for &9%playername% &6[&9%playerrace% &6- &6Lvl &3%playerlevel%&6]
SkillSheet skill line:&6[&3%02%skilllevel%&6] &b%.18%skillname%
SkillSheet untrained skill header:&6Untrained Skills%colon%
SkillSheet untrained skill line:

#The parts of the message that are returned when users /skillinfo
SkillInfo header:&6  Skillinfo for &b%playername%&6 [&b%skillid%&6] || Your level &3%skilllevel%/%maxskilllevel%
SkillInfo minor header:&6[&5EffectID&6]&f------&6[Effect]&f------
SkillInfo EffectID Prefix:&6[&5%effectid%&6] 
SkillInfo max skill level:&6---This skill is maximum level, no training available---
SkillInfo at trainer level:&6---You're as skilled as me, you need a more advanced trainer!--
SkillInfo train cost header:&6---Train costs for level &3%nextskilllevel%
SkillInfo train cost: &6--  &2%depositedamount% of %totalcost% %itemtype%&6  --

#effectinfo prefix:&6[&5%effectid%&6] 
