#This file contains the tool groups for DwarfCraft. The groups should be paired in Tool Type and in ascending (default) resource order.
#The order that the tools are listed in the group are the order that players will level through with ToolUse Effect.
#
#Examples:
#Pickaxes: WOOD_PICKAXE STONE_PICKAXE IRON_PICKAXE GOLD_PICKAXE DIAMOND_PICKAXE
#Swords: WOOD_SWORD STONE_SWORD IRON_SWORD GOLD_SWORD DIAMOND_SWORD

Pickaxes: WOOD_PICKAXE STONE_PICKAXE IRON_PICKAXE GOLD_PICKAXE DIAMOND_PICKAXE
Swords: WOOD_SWORD STONE_SWORD IRON_SWORD GOLD_SWORD DIAMOND_SWORD
Axes: WOOD_AXE STONE_AXE IRON_AXE GOLD_AXE DIAMOND_AXE
Shovels: WOOD_SPADE STONE_SPADE IRON_SPADE GOLD_SPADE DIAMOND_SPADE
Hoes: WOOD_HOE STONE_HOE IRON_HOE GOLD_HOE DIAMOND_HOE
